.header{
  margin-left: 20px;
  font-size: 20px;
}
.container{
  margin-top: 20px;
}
.lobby{
  display: flex;
  margin: 10px 2%;
  background-color: #d2d1d1;
  width: 96%;
  height: 70px;
  border-radius: 10px;
}
.lobby-items{
  margin-left: 10px;
  align-self: center;
  flex-direction: column;
}
.lobby-items:last-child{
  margin-left: auto;
}
.lobby>.group-icon{
  margin: auto;
}
.group-icon{
  width: 65px;
  height: 65px;
}
.view-icon{
  width: 25px;
}
.delete-icon{
  width: 24px;
}
.accept-icon{
  width: 24px;
}
.view-button, .delete-button, .accept-button{
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  outline: none;
  border: none;
}
.view-button:hover,.delete-button:hover, .accept-button:hover{
  background-color: #efefef;
}
