<div class="container">
  <button mat-dialog-close class="close-button"><-</button>
  <h1 class = "header-h1">Rejestracja właściciela lokalu</h1>
  <form (submit)="register(registerNewPlaceOwner)">
    <div class="dialog-container-content">
      <div class="dialog-input-container">
        <label>Login</label><br>
        <input
          [(ngModel)]="registerNewPlaceOwner.login"
          type="text"
          name="login"
          class="dialog-input"
        /><br>
      </div>
      <div class="dialog-input-container">
        <label>Email</label><br>
        <input
          [(ngModel)]="registerNewPlaceOwner.email"
          type="email"
          name="Email"
          class="dialog-input"
        /><br>
      </div>
      <div class="dialog-input-container">
        <label>First Name</label><br>
        <input
          [(ngModel)]="registerNewPlaceOwner.firstName"
          type="text"
          name="first name"
          class="dialog-input"
        /><br>
      </div>
      <div class="dialog-input-container">
        <label>Surname</label><br>
        <input
          [(ngModel)]="registerNewPlaceOwner.surName"
          type="text"
          name="Surname"
          class="dialog-input"
        /><br>
      </div>
      <div class="dialog-input-container">
        <label>Password</label><br>
        <input
          [(ngModel)]="registerNewPlaceOwner.hashedPassword"
          type="password"
          name="password"
          class="dialog-input"
        /><br>
      </div>
    </div>
    <button mat-dialog-close type="submit" class="dialog-button">Zarejestruj</button>
  </form>
</div>

