<div class="container">
  <button mat-dialog-close class="close-button"><-</button>
  <mat-card-header>
    <mat-card-title><h1>Rejestracja właściciela lokalu</h1></mat-card-title>
  </mat-card-header>
  <form (submit)="register(registerNewPlaceOwner)">
    <mat-card-content>
      <div class="dialog-input-container">
        <label>Login</label><br>
        <input
          matInput
          [(ngModel)]="registerNewPlaceOwner.login"
          type="text"
          name="login"
          class="dialog-input"
        /><br>
      </div>
      <div class="dialog-input-container">
        <label>Email</label><br>
        <input
          matInput
          [(ngModel)]="registerNewPlaceOwner.email"
          type="email"
          name="Email"
          class="dialog-input"
        /><br>
      </div>
      <div class="dialog-input-container">
        <label>First Name</label><br>
        <input
          matInput
          [(ngModel)]="registerNewPlaceOwner.firstName"
          type="text"
          name="first name"
          class="dialog-input"
        /><br>
      </div>
      <div class="dialog-input-container">
        <label>Surname</label><br>
        <input
          matInput
          [(ngModel)]="registerNewPlaceOwner.surName"
          type="text"
          name="Surname"
          class="dialog-input"
        /><br>
      </div>
      <div class="dialog-input-container">
        <label>Password</label><br>
        <input
          matInput
          [(ngModel)]="registerNewPlaceOwner.hashedPassword"
          type="password"
          name="password"
          class="dialog-input"
        /><br>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-dialog-close type="submit" mat-button color="primary" class="dialog-button">Zarejestruj</button>
    </mat-card-actions>
  </form>
</div>

