<div class="container">
  <button mat-dialog-close class="close-button"><-</button>
  <h1 class = "header-h1">Rejestracja właściciela lokalu</h1>
  <form (submit)="register(registerNewPlaceOwner)" ngNativeValidate #form>
    <div class="dialog-container-content">
      <div class="dialog-input-container">
        <label>Login</label><br>
        <input
          [(ngModel)]="registerNewPlaceOwner.login"
          type="text"
          name="login"
          class="dialog-input"
          required
          title="Pole jest wymagane"
        /><br>
      </div>
      <div class="dialog-input-container">
        <label>Email</label><br>
        <input
          [(ngModel)]="registerNewPlaceOwner.email"
          type="email"
          name="Email"
          class="dialog-input"
          required
          title="Pole jest wymagane"
        /><br>
      </div>
      <div class="dialog-input-container">
        <label>Imię</label><br>
        <input
          [(ngModel)]="registerNewPlaceOwner.firstName"
          type="text"
          name="first name"
          class="dialog-input"
          pattern="^[A-Z][a-z0-9_-]{2,}$"
          title="Imię musi zaczynać się z dużej litery"
        /><br>
      </div>
      <div class="dialog-input-container">
        <label>Nazwisko</label><br>
        <input
          [(ngModel)]="registerNewPlaceOwner.surName"
          type="text"
          name="Surname"
          class="dialog-input"
          pattern="^[A-Z][a-z0-9_-]{2,}$"
          title="Nazwisko musi zaczynać się z dużej litery"
        /><br>
      </div>
      <div class="dialog-input-container">
        <label>Hasło</label><br>
        <input
          [(ngModel)]="registerNewPlaceOwner.hashedPassword"
          type="password"
          name="password"
          class="dialog-input"
          pattern="^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{6,}$"
          title="Hasło musi składać się z 6 znaków, dużej litery, małej litery, cyfry oraz znaku specjalnego (np. !@#$)"
        /><br>
      </div>
    </div>
    <button (click)="form.checkValidity() ? closeDialog() : null" type="submit" class="dialog-button">Zarejestruj</button>
  </form>
</div>

