.container{
  display:flex;
  min-height: 90vh;
}
.container-item{
  flex: 50%;
}
.container-item:first-child{
  background-color: #e0e0e0;
}
.container-item:nth-child(2){
  display: flex;
  flex-direction: column;
}

