.container{
  display:flex;
  min-height: 90vh;
}
.container-item{
  flex: 60%;
  background-color: #e0e0e0;
}
.container-item:first-child{
  flex: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-item:nth-child(2){
  display: flex;
  flex-direction: column;
}

.container-item h1 {
  text-align: center;
  background-color: #1c1414;
  width: 100%;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0px 0px 60px 0px;
  padding: 10px 0px;
}
.container-item .inputbox {
  position: relative;
  width: 300px;
  height: 30px;
  margin-bottom: 50px;
}
.container-item .inputbox input {
  padding: 0px 10px;
  background-color: white;
  width: 100%;
  border: 1px solid #000;
  outline: none;
  height:30px;
  border-radius: 10px;
}

.container-item .inputbox span {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}
.container-item .inputbox input:focus ~ span,
.container-item .inputbox input:valid ~ span,
.container-item .inputbox select ~ span
{
  transform: translateX(-13px) translateY(-35px);
}
.container-item .inputbox button {
  width: 108%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
}
.container-item .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}

.container-item .inputbox select {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 107%;
  border: 1px solid #000;
  outline: none;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 50px;
}

