<div class = "container">
  <div class = "container-item">
    <a (click)="navigateTo('/client/lobbies/' + this.lobbyId)" class="link"><span>Podstawowe informacje</span></a>
  </div>
  <div class = "container-item">
    <a (click)="navigateTo('/client/lobbies/'+ this.lobbyId + '/guests')" class="link"><span>Lista gości</span></a>
  </div>
  <div class = "container-item">
    <a *ngIf="type == 'place'" (click)="navigateTo('/client/lobbies/'+ this.lobbyId + '/place/reservation')" class="link"><span>Rezerwacja lokalu</span></a>
    <a *ngIf="type == 'customPlace'" style="background: gray" class="link" title="Dostępne tylko po wybraniu lokalu w zakładce podstawowe informacje"><span>Rezerwacja lokalu</span></a>
  </div>
</div>
