.container{
  border-right: 1px solid black;
  min-height: 80vh;
  background-color: #e56108;
}
.container-item{
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 15px;
}
.container-item a {
  padding: 15px 10px;
  width: 100%;
}
.container-item:hover{
  background-color: #ff6c01;
}
.link{
  text-decoration: none;
  color: #ffffff;
}
.link span {
  padding-left: 10px;
}
