<div class="container">
  <div class="container-item">
    <h1>Rezerwacje</h1>
  </div>
  <div class="container-item" *ngFor="let reservation of reservations">
    <div class="container-item-child">
      <div>
        <span>Imie i nazwisko</span>
        {{reservation.lobbyOwnerFullName}}
      </div>
      <div>
        <span>Data rozpoczęcia</span>
        {{reservation.startDate | date: 'short'}}
      </div>
      <div>
        <span>Data zakończenia</span>
        {{reservation.endDate| date: 'short'}}
      </div>
      <div>
        <span>Liczba gości</span>
        {{reservation.numberOfGuests}}
      </div>
      <div>
        <span>Numer telefonu</span>
        {{reservation.phoneNumber}}
      </div>
      <div class="container-item-child-buttons">
        <button mat-flat-button color="primary" (click)="accept(reservation.id)">Zaakceptuj</button>
      </div>
      <div class="container-item-child-buttons">
        <button mat-flat-button color="warn" (click)="decline(reservation.id)">Odrzuć</button>
      </div>
    </div>
  </div>
</div>
<!--<div class="container">-->
<!--  <div>-->
<!--    <h1>Rezerwacje lokalu </h1>-->
<!--    <table>-->
<!--      <tr>-->
<!--        <th>Liczba gości</th>-->
<!--        <th>Czas rozpoczęcia</th>-->
<!--        <th>Czas zakończenia</th>-->
<!--        <th>Imię i nazwisko</th>-->
<!--      </tr>-->
<!--      <tr *ngFor="let reservation of reservations">-->
<!--        <th>{{reservation.numberOfGuests}}</th>-->
<!--        <th>{{reservation.startDate}}</th>-->
<!--        <th>{{reservation.endDate}}</th>-->
<!--        <th>{{reservation.lobbyOwnerFullName}}</th>-->
<!--        <th><button (click)="accept(reservation.id)">Akceputuj</button></th>-->
<!--        <th><button (click)="decline(reservation.id)">Odrzuc</button></th>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </div>-->
<!--</div>-->
