<div class="example-container mat-elevation-z8">
  <button (click)="redirectCreateModerator()">No kliknij se by stworzyc moderatora</button>
  <mat-table #table [dataSource]="dataSource">
    <!-- Id Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- FirstName Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> FirstName </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>

    <!-- Surname Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Surname </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.surName}} </mat-cell>
    </ng-container>

    <!-- UserId Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> UserId </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="button">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element"> <button (click)="redirect(element.id)">Edit</button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
