<div class="container">
  <mat-table #table [dataSource]="dataSource">
    <!-- Id Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- FirstName Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Imię </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>

    <!-- Surname Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Nazwisko</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.surName}} </mat-cell>
    </ng-container>

    <!-- UserId Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> UserId </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="button">
      <mat-header-cell *matHeaderCellDef><button mat-stroked-button color="warn" (click)="openRegisterModeratorDialog()">Dodaj</button></mat-header-cell>
      <mat-cell *matCellDef="let element"> <button mat-stroked-button color="primary" (click)="openUpdateModeratorDialog(element.id)">Edytuj</button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
