.container {
  margin: 10px 1.5vw;
}
.mat-dialog-container{
  padding: 0px 10px;
}
mat-card-header h1{
  font-weight: 550;
  font-size: 35px;
  text-align: center;
}

.mat-form-field{
  width: 100%;
  margin: 7px 0px;
}
.register-button{
  margin: 10px 0px;
  width: 100%;
}
