<div class="container">
  <button mat-dialog-close class= "close-button">X</button>
  <mat-card-header>
    <mat-card-title> <img src="assets/logo.png"></mat-card-title>
  </mat-card-header>
  <form (submit)="login(userInfo)">
    <mat-card-content>
        <input
          matInput
          placeholder="Login"
          [(ngModel)]="userInfo.login"
          type="text"
          name="email"
        /><br>

        <input
          matInput
          placeholder="Password"
          [(ngModel)]="userInfo.password"
          type="password"
          name="password"
        /><br>
    </mat-card-content>
    <mat-card-actions>
      <button mat-dialog-close type="submit" class="login-button">Login</button>
    </mat-card-actions>
  </form>
</div>
<!-- HTML !-->



