.dialog-button{
  margin-top: 10%;
}
.dialog-input-container{
  margin: 0.9vh;
}
.header-h1 {
  font-size: 200%;
  margin-bottom: 15%;
}
.dialog-container {
  padding: 0px 8%;
}
.close-button{
  left: 62%;
}
