<div class="dialog-container">
  <button mat-dialog-close class= "close-button">X</button>
  <h1 class="header-h1">Logowanie użytkownika</h1>
  <form (submit)="login(userInfo)">
      <div class="dialog-input-container">
        <label>Login</label><br>
        <input
          [(ngModel)]="userInfo.login"
          type="text"
          name="email"
          class="dialog-input"
        /><br>
      </div>
      <div class="dialog-input-container">
        <label>Password</label><br>
        <input
          [(ngModel)]="userInfo.password"
          type="password"
          name="password"
          class="dialog-input"
        /><br>
      </div>
      <button mat-dialog-close type="submit" class="dialog-button">Login</button>
      <button mat-dialog-close type="button" class="dialog-button-second">Nie masz konta? Zarejestruj się</button>
  </form>
</div>
<!-- HTML !-->
