<div class="dialog-container">
  <button mat-dialog-close class= "close-button">X</button>
  <h1 class="header-h1">Logowanie użytkownika</h1>
  <form (submit)="login(userInfo)">
      <div class="dialog-input-container">
        <label>Login</label><br>
        <input
          [(ngModel)]="userInfo.login"
          type="text"
          name="login"
          class="dialog-input"
          (change)="checkIfLoginIsValid(userInfo.login)"
        /><br>
        <span *ngIf="!isValidLogin" class="error"><img src="assets/error.png"/>Podaj login</span>
      </div>
      <div class="dialog-input-container">
        <label>Hasło</label><br>
        <input
          [(ngModel)]="userInfo.password"
          type="password"
          name="password"
          class="dialog-input"
          (change)="checkIfPasswordIsValid(userInfo.password)"
        /><br>
        <span *ngIf="!isValidPassword" class="error"><img src="assets/error.png"/>Podaj hasło</span>
      </div>
      <button type="submit" class="dialog-button">Login</button>
      <button mat-dialog-close type="button" class="dialog-button-second" (click)="openRegisterClientDialog()" >Nie masz konta? Zarejestruj się</button>
  </form>
</div>
