.map-container {
  width: 100%;
  height: 60vh;
  background-color:#e0e0e0;
}

.map-frame {
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
}

.map-container-items{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.map-container-items:nth-child(3){
  margin-top: 10px;
  overflow-y:scroll;
  flex-direction: column;
  max-height: 25vh;
}
.map-container-item{
  flex: 50%;
}
.map-container-item button{
  width: 100%;
  height: 30px;
  border: none;
  background-color: #21355b;
  color: white;
}
.map-container-item button:first-child{
  border: 1px solid white;
}
.map-container-item button:hover{
  background-color: #332424;
}
.place-list-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  text-align: left;
  height: 60px;
  width: 95%;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.place-list-item button{
  text-align: right;
}
