
<div class="container">
  <div class="center">
    <div class="inputbox">
      <input
        type="text"
        name="latitude"
      />
      <span>Nazwa</span>
    </div>
    <div class="inputbox">
      <input
        type="text"
        name="maxSeats"
      />
      <span>Ilość miejsc</span>
    </div>
    <div class="inputbox">
        <option value="Public">Publiczne</option>
        <option value="Private">Prywatne</option>
    </div>
    <div class="inputbox">
      <button  mat-button color="primary" class="register-button">Create</button>
    </div>
  </div>
</div>

