.spacer {
  flex: 1 1 auto;
}

.navigation-box {
  margin: 10px;
}

.mat-toolbar.mat-primary {
  background: #000000;
  color: #fff;
}
.logo{
  text-align: center;
  width: 9vw;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 5px;
  color: #fcfcfc;
}
