<mat-toolbar color="primary" class="navbar_container">
  <ng-container *ngIf="isAuthenticated$ | async else elseBlock" >
      <img src="../assets/logo.png" class = "logo">
      <a
        *ngFor="let link of navigationLinks"
        [routerLink]="link.url"
        routerLinkActive="active"
        class="routerLink"
      >
        {{link.name}}
      </a>
  </ng-container>
  <ng-template #elseBlock>
    <img src="../assets/logo.png" class = "logo">
    <span class="spacer"></span>
    <a (click)="openLoginDialog()" class="routerLink">Logowanie</a>
    <a (click)="openRegisterClientDialog()" class="routerLink">Rejestracja</a>
  </ng-template>
</mat-toolbar>

<ng-template >

</ng-template>
<div class="container">
  <router-outlet></router-outlet>
</div>


