<mat-toolbar color="primary" class="navbar_container">
  <ng-container *ngIf="isAuthenticated$ | async else elseBlock">
      <h1 class = "logo">STUDENTUS</h1>
      <span class="spacer"></span>
      <a
        *ngFor="let link of navigationLinks"
        [routerLink]="link.url"
        routerLinkActive="active"
        class="routerLink"
      >
        {{link.name}}
      </a>
    <a (click)="logout()" class="routerLink">Wyloguj</a>
  </ng-container>

  <ng-template #elseBlock>
    <h1 class = "logo">STUDENTUS</h1>
    <span class="spacer"></span>
    <a (click)="openLoginDialog()" class="routerLink">Logowanie</a>
    <a (click)="openRegisterClientDialog()" class="routerLink">Rejestracja</a>
  </ng-template>
</mat-toolbar>

<div class="container">
  <ng-container *ngIf="isAuthenticated$ | async else elseBlockContainer"  >
  </ng-container>
  <ng-template #elseBlockContainer>
    <app-home></app-home>
  </ng-template>
  <router-outlet></router-outlet>
</div>


