<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Create Moderator </mat-card-title>
    </mat-card-header>
    <form (submit)="register(registerNewModerator)">
      <mat-card-content>

        <input
          matInput
          placeholder="Login"
          [(ngModel)]="registerNewModerator.login"
          type="text"
          name="login"
        />


        <input
          matInput
          placeholder="Email"
          [(ngModel)]="registerNewModerator.email"
          type="email"
          name="Email"
        />

        <input
          matInput
          placeholder="First name"
          [(ngModel)]="registerNewModerator.firstName"
          type="text"
          name="first name"
        />

        <input
          matInput
          placeholder="Surname"
          [(ngModel)]="registerNewModerator.surName"
          type="text"
          name="Surname"
        />

        <input
          matInput
          placeholder="Password"
          [(ngModel)]="registerNewModerator.hashedPassword"
          type="password"
          name="password"
        />

      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-button color="primary">Register</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
