<div class="container">
  <div class="center">
    <h1>Utworz lobby</h1>
    <div class="inputbox">
      <input
        [(ngModel)]="registerNewPlace.name"
        type="text"
        name="name"
      />
      <span>Nazwa</span>
    </div>
    <div class="inputbox">
      <input

        [(ngModel)]="registerNewPlace.latitude"
        type="text"
        name="latitude"
      />
      <span>Szerokość geograficzna</span>
    </div>
    <div class="inputbox">
      <input
        [(ngModel)]="registerNewPlace.longitude"
        type="text"
        name="longitute"
      />
      <span>Długość geograficzna</span>
    </div>
    <div class="inputbox">
      <button (click)="createPlace(registerNewPlace)" mat-button color="primary" class="register-button">Create</button>
    </div>
  </div>
</div>
