<div class="container">
    <div class = "container-item">
      <h1>Utworz lobby</h1>
    </div>
    <div class="container-item">
      <label>Nazwa</label>
      <input
        [(ngModel)]="registerNewPlace.name"
        type="text"
        name="name"
      />
    </div>
    <div class="container-item">
      <label>Szerokość geograficzna</label>
      <input

        [(ngModel)]="registerNewPlace.latitude"
        type="text"
        name="latitude"
      />
    </div>
    <div class="container-item">
      <span>Długość geograficzna</span>
      <input
        [(ngModel)]="registerNewPlace.longitude"
        type="text"
        name="longitute"
      />
    </div>
    <div class="container-item">
      <button (click)="createPlace(registerNewPlace)" mat-flat-button color="primary" class="register-button">Create</button>
    </div>
</div>
