<div class="center-div">
  <div class="not-found" *ngIf="invitations === undefined || invitations.length == 0;">
    <span>Wygląda na to, że nie masz żadnych nowych zaproszeń do znajomych</span>
  </div>
  <div *ngIf="invitations.length>0" class="leaderboard">
    <main class="leaderboard__profiles">
      <article class="leaderboard__profile" *ngFor="let invitation of invitations">
        <mat-icon class="leaderboard__icon">account_circle</mat-icon>
        <span class="leaderboard__name">{{invitation.friendSender.firstName}} {{invitation.friendSender.surName}}</span>
        <div class="leaderboard__buttons">
          <button mat-raised-button color="primary" (click)="acceptInvitation(invitation.id)">Zaakceptuj zaproszenie</button>
          <button mat-raised-button color="warn" (click)="rejectInvitation(invitation.id)">Odrzuć zaproszenie</button>
        </div>
      </article>
    </main>
  </div>
</div>
