<div class="container">
  <div class = "container-item">
    <h1>Aktualizacja lokalu</h1>
  </div>
  <div class = "container-item">
    <label>Nazwa</label>
    <input
      required
      type="text"
      [(ngModel)]="currentPlace.name"
    >
  </div>
  <div class = "container-item">
    <label>Szerokość geograficzna</label>
    <input
      required
      type="number"
      [(ngModel)]="currentPlace.latitude"
    >
  </div>
  <div class = "container-item">
    <label>Długość geograficzna</label>
    <input
      required
      type="number"
      [(ngModel)]="currentPlace.longitude"
    >
  </div>
  <div class = "container-item">
    <button mat-flat-button color="primary" (click)="updatePlace(currentPlace)">Zaaktualizuj zmiany</button><br>
    <button mat-flat-button color="warn" (click)="deletePlace(currentPlace.id)">Usuń miejsce</button>
  </div>
</div>





