<div class="center-div">
  <div class="leaderboard">
    <header>
      <h1 class="leaderboard__title">
        <span class="leaderboard__title--top">Twoje zaproszenia</span>
        <span class="leaderboard__title--bottom">Do listy znajomych</span></h1>
    </header>

    <main class="leaderboard__profiles">
      <article class="leaderboard__profile" *ngFor="let myInvitation of myInvitations">
        <mat-icon class="leaderboard__icon">account_circle</mat-icon>
        <span class="leaderboard__name">{{myInvitation.friendReceiver.firstName}} {{myInvitation.friendReceiver.surName}}</span>
      </article>
    </main>
  </div>
</div>
