/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body .mat-typography{ height: 100%; }
.mat-h1, .mat-headline, .mat-typography .mat-h1, .mat-typography .mat-headline, .mat-typography h1 {
  margin: 0px;
}

app-root {
  display: block;
  height: 100%;
}
.refresh-icon{
  color: green;
  padding: 0px 5px;

  border-radius: 10%;
}
.refresh-icon:hover{
  background-color: #a3d2a3;
}
.routerLink{
  color: #fff;
  position: relative;
  text-decoration: none;
  margin: 0 12px;
  padding: 14px;
  font-weight: bold;
  font-size: 14px;
  font-family: Arial;
}

.routerLink:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #e56108;
  bottom: 5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.routerLink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.routerLink:focus{
  color: #e56108;
}
.dialog{
  mat-dialog-container {
    background-color: #161b22;
    border: 0.4px solid gray;
    border-radius: 10px;
    padding: 30px 10%;
  }
  .dialog-container{
    text-align: center;
  }

  .dialog-input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dialog-input-container label{
    align-self: baseline;
    color: white;
  }
  .dialog-input{
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    background-color: #1e1e1e;
    border-width: 0 0 1px 0;
    border-color:  gray;
    border-radius: 4px;
    color: white;
    width: 100%;
    padding: 10px 9px;
  }
  .dialog-input:focus{
    border-color: #588BAE;
    color: white;
    outline: none;
  }
  .dialog-button, .dialog-button-second{
    width: 97%;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    max-width: 480px;
    min-height: 40px;
    min-width: 60px;
    text-align: center;
    vertical-align: middle;
  }
  .dialog-button{
    background-color: teal;
    border: 0;
    border-radius: 9px;
    margin-bottom: 15px;
  }
  .dialog-button:hover,
  .dialog-button:focus {
    background-color: #00B0B1;;
    color: #ffffff;
  }
  .dialog-button-second{
    background-color: #161b22;
    border: 0.3px solid teal;
    border-radius:7px;
  }
  .dialog-button-second:hover{
    border-color: #00B0B1;
  }
  h1{
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: xxx-large;
  }
  .close-button{
    position: relative;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-width: 0px;
    border-style: none;
    color: white;
    border-color: white;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
    border-radius: 20px;
    outline: none;
  }

  .close-button:hover{
    background-color: #3a3939;
  }
}
