@import "src/app/app.component";
.container-item-1{
  background-color: #1e1d1d;
  height: 75vh;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 5%;
}
hr{
  border: 0;
  border-top: 1px solid #c9c7c7;
  width:100%
}
.container-item-1-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1c2938;
  width: 60vw;
  height: 100%;
  border-radius: 50px;
  border: 0.01px solid white;
}

.container-item-1-header {
  font-size: 450%;
  font-weight: 500;
  line-height: 70px;
  margin-bottom: 50px;
}
.container-item-1-header2 {
  font-size: 3.5vw;
  margin-bottom: 50px;
  font-weight: 500;
  line-height: 70px;
}
.container-item-1-p1{
  font-size: 350%;
  font-weight: 500;
  max-width: 700px;
  line-height: 50px;
}
.container-item-1-p2{
  text-align: left;
  padding-left: 12%;
  font-size: 2.0vw;
  font-weight: 500;
  max-width: 700px;
  line-height: 50px;
}
.search-bar{
  margin-top: 90px;
  max-width: 80vw;
  margin-bottom: 60px;
}

.search-bar input{
  background-color: white;
  height: 100%;
  border-radius: 20px;
  border-width: 0px;
  width: 35vw;
  padding-left: 20px;
}
.search-bar input:focus{
  outline: none;
}
.search-bar button{
  padding: 0px 2px;
}

.city-group{
  margin-bottom: 40px;
  display: flex;
  width: 90%;
  table-layout: fixed;
  border-collapse: collapse;
}
.city-group button{
  background-color: #e56108;
  color: white;
  padding: 0px;
  text-align: center;
  margin: 0vh 0.9vw;
  width: 100%;
  letter-spacing: 0.2vw;
  border-radius: 50px;
}
.city-group button:hover{
  background-color: rgba(229, 97, 8, 0.78);
}
.container-item-2{
  background-color: #000000;
  padding: 100px 22vw;
  height: 600px;
  display: flex;
}

.container-item-2-child{
  color: white;
  flex: 50%;
}
.container-item-2-child:first-child{
  border-right: 0.5px solid #fff;
  padding-right: 5vw;
}
.container-item-2-child:first-child p{
  font-size: 25px;
  line-height: 1.5em;
  font-weight: 500;
  margin-top: 50px;
}
.container-item-2-child:last-child{
  border-left: 0.5px solid #fff;
  padding-left: 5vw;
}
.container-item-2-child:last-child p{
  font-size: 20px;
  line-height: 1em;
  font-weight: 500;
  margin-top: 50px;
}

.container-item-2-child h1{
  color: #f64906;
  font-size: 40px;
  line-height: 1.15em;
  font-weight: 800;
}

.icon-check-circle{
  position:relative;
  top:4px;
  right: 10px;
}
.button-register-place-owner{
  align-self: center;
  padding: 0.6vh 10vw;
  background-color: #fff;
  color: #000;
  margin: 20px 20px;
  border-radius: 20px;
  font-weight: 550;
  font-size: 20px;
}
