<div class="container">
  <div class="container-item-1">
      <h1 class="container-item-1-header">Chcesz poznać nowych ludzi?</h1>
      <p class="container-item-1-p1">Sprawdź swoją okolicę</p>
      <div class="search-bar">
        <input placeholder="Podaj swoją lokalizację" name= "search">
        <button matSuffix mat-button (click)="openLoginDialog()"><mat-icon >search</mat-icon></button>
      </div>
    <div class="city-group">
      <button mat-flat-button (click)="openLoginDialog()">WARSZAWA</button>
      <button mat-flat-button (click)="openLoginDialog()">LUBLIN</button>
      <button mat-flat-button (click)="openLoginDialog()">KRAKÓW</button>
      <button mat-flat-button (click)="openLoginDialog()">KATOWICE</button>
      <button mat-flat-button (click)="openLoginDialog()">WROCŁAW</button>
    </div>
  </div>
  <div class="container-item-2">
    <div class="container-item-2-child">
      <h1>NIE CHCESZ DŁUŻEJ SIEDZIEĆ W DOMU?</h1>
      <p>Zarejestruj się na naszej platformie.
        Jeśli zastanawiasz się czy założyć konto, zobacz czego możesz się spodziewać po naszej platformie:</p>
    </div>
    <div class="container-item-2-child">
      <h1>TA PLATFORMA JEST DLA CIEBIE, JEŚLI:</h1>
      <p><mat-icon class="icon-check-circle">check_circle</mat-icon>Chcesz wyjść z domu</p>
      <p><mat-icon class="icon-check-circle">check_circle</mat-icon>Poznać nowych ludzi</p>
      <p><mat-icon class="icon-check-circle">check_circle</mat-icon>Zorganizować spotkanie ze znajomymi</p>
      <p><mat-icon class="icon-check-circle">check_circle</mat-icon>Zarezerwować miejsce w lokalu</p>
    </div>
  </div>
</div>
