.dialog-container-content{
  display: flex;
  flex-wrap:wrap;
  margin-top: 4vh;
  margin-bottom: 2vh;
}
.dialog-container-content .dialog-input-container{
  flex-basis:40%;
  margin: 0px 5%;
}

.close-button{
  left: 50%;
}
.header-h1{
  font-size: 200%;
}
