@import "src/app/login/login.component";

/* CSS */
.register-button {
  margin-top: 20px;
  width: 40%;
  background-color: #f66a0a;
  border: 0;
  border-radius: 100px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  max-width: 480px;
  min-height: 40px;
  min-width: 60px;
  padding: 0px 20px 0px 20px;
  text-align: center;
  vertical-align: middle;
}

.register-button:hover,
.register-button:focus {
  background-color: #d05701;
  color: #ffffff;
}

.close-button{
  position: relative;
  left: -1%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-width: 0px;
  border-style: none;
  border-color: white;
  font-size: 20px;
  text-align: center;
  vertical-align: center;
  border-radius: 20px;
  outline: none;
}
.close-button:hover{
  background-color: #f1f0f0;
}
.link-owner-registration{
  color: blue;
}
.link-owner-registration:hover{
  text-decoration: underline;
  text-decoration-color: blue;
}
