<ng-template [ngIf]="client">
  <div class="container">
    <mat-card-header>
      <h1> Update Moderator </h1>
    </mat-card-header>
    <form (submit)="update(updateClient)">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Login"
            [(ngModel)]="updateClient.login"
            type="text"
            name="login"
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Email"
            [(ngModel)]="updateClient.email"
            type="email"
            name="Email"
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="First name"
            [(ngModel)]="updateClient.firstName"
            type="text"
            name="first name"
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <span></span>
          <input
            matInput
            [(ngModel)]="updateClient.surName"
            type="text"
            name="Surname"
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Password"
            [(ngModel)]="updateClient.hashedPassword"
            type="password"
            name="password"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Is Active</mat-label>
          <mat-select [(ngModel)]="updateClient.isAccountActive" name="isActivated">
            <mat-option  [value]="true" >true</mat-option>
            <mat-option [value]="false">false</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-dialog-close type="submit" mat-stroked-button  color="primary" class="register-button">Update</button>
      </mat-card-actions>
    </form>
  </div>
</ng-template>
